[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.4"
appdirs = "*"
certifi = "==2020.6.20"
command = "==0.1.0"
distlib = "==0.3.0"
dj-database-url = "==0.5.0"
django-analytical = "==2.5.0"
filelock = "==3.0.12"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.4"
pytz = "==2019.3"
six = "==1.15.0"
sqlparse = "==0.3.1"
virtualenv = "==20.0.25"
virtualenv-clone = "==0.5.4"
whitenoise = "==5.0.1"
numpy = "*"
sklearn3 = "*"
scikit-learn = "==1.2.2"
pandas = "*"
graphviz = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
djangoviz = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.11"
